$color-primary: silver;
$color-secondary: black;
$color-bright: white;
$color-leafy: green;
$color-autumn: yellow;
$color-hero: pink;
$color-ash: gray;
$color-dew: honeydew;
$color-cloudy: #808080;


*{
    box-sizing:border-box;
}

header {
    background-color: $color-primary;
    color: $color-secondary;
}

header {
    h2 {
        font-family: 'Festive', cursive;
        color:$color-leafy;
        font-size: 3rem;
    }
}

 header {
     h1 {
        font-family: 'Akronim', cursive;
        font-size: 5.5rem;
    }
}

.navbar {
    background-color: $color-cloudy;
    font-family: 'EB Garamond', serif;
    font-size: 1.7rem;
}

a, a:hover {
    color:inherit;
    text-decoration: none;
}


footer{
   padding-bottom: 20px;
   background-color: $color-dew;
   font-size: 1rem;
}

#reserveModal{
    background-image: url("/img/background2.jpg");
}


.buttonControl{
    display:flex;
    justify-content: center;
    margin-top:400px;
}

#reserveButton{
    margin-right: 80px;
}

#orderOnlinebtn{
    margin-left: 80px;
}

#orderOnlinebtn, #reserveButton {
    padding: 20px;
    position: relative;
    background-color: sliver;
    font-size: 1.5rem;
    font-family: 'EB Garamond', sans-serif;
    color: $color-ash ;
}

#feedbackForm{
    margin: 20px 40px;
}

#mapContent {
    margin-top: 40px;
    text-align: center;
}

#aboutUsContent img{
    box-shadow: 5px 18px 15px ;
}

#menuPage .nav-link{
    margin-top: 20px;
    font-size: 1.4em;
    font-weight:bold;
    color: $color-dew;
    font-family: Verdana, sans-serif;
}
#menuPage {
    background-color: purple;
    // background-image: url('/img/menuBackground.jpg');
    width:100%;
    box-sizing: border-box;
    color: $color-autumn;
}
#menuPage p {
    
    font-size: 1.3rem;
    margin-bottom: 0;
}



#menuPage h5, #menuPage h3 {
    margin-top: 3em;
    font-family: 'Arial Narrow Bold', sans-serif;
}

#myTab {
    text-decoration: none;
}